@page
@model IndexModel
@{
    ViewData["Title"] = "George Michael";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/georgemichael1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/georgemichael2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/georgemichael3.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
    Well I guess it would be nice<br>
    If I could touch your body<br>
    I know not everybody<br>
    Has got a body like you<br>
    <br>
    But I've got to think twice<br>
    Before I give my heart away<br>
    And I know all the games you play<br>
    Because I play them too<br>
    <br>
    Oh but I<br>
    Need some time off from that emotion<br>
    Time to pick my heart up off the floor<br>
    Oh when that love comes down<br>
    Without devotion<br>
    Well it takes a strong man baby<br>
    But I'm showing you the door<br>
    <br>
    ‘Cause I gotta have faith<br>
    I gotta have faith<br>
    ‘Cause I gotta have faith, faith<br>
    ‘Cause I gotta have faith, faith, faith<br>
    <br>
    Baby,<br>
    I know you're asking me to stay<br>
    Say please, please, please don't go away<br>
    You say I'm giving you the blues<br>
    Maybe<br>
    You mean every word you say<br>
    Can't help but think of yesterday<br>
    And another who tied me down to loverboy rules<br>
    <br>
    Before this river<br>
    Becomes an ocean<br>
    Before you throw my heart back on the floor<br>
    Oh oh baby I reconsider<br>
    My foolish notion<br>
    Well I need someone to hold me<br>
    But I'll wait for something more<br>
    <br>
    Yes I've gotta have faith…<br>
    Mmm, I gotta have faith<br>
    ‘Cause I gotta have faith, faith, faith<br>
    I gotta have faith-a-faith-a-faith<br>
    <br>
    Before this river<br>
    Becomes an ocean<br>
    Before you throw my heart back on the floor<br>
    Oh oh baby I reconsider<br>
    My foolish notion<br>
    Well I need someone to hold me<br>
    But I'll wait for something more<br>
    <br>
    Cause I gotta have faith<br>
    Mmm I gotta have faith<br>
    Because I got to have faith-a-faith-a-faith<br>
    I gotta have faith-a-faith-a-faith
</div>

