@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DINO Class</h1>
    <p>Balayya Song <a href="pages/mysong.cshtml" target="_blank">Yeah Yeah Yeah Jai Balayya</a>.</p>
</div>
