@page
@model SongModel
@{
    ViewData["Title"] = "Song";
}

<h1 class="text-danger">Song.</h1>
<h2 class="text-danger">Jai Balayya</h2>

@if (Model.ShowRequestId)
{
    <!-- <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p> -->
}



<h3>Balayya God Mode</h3>
<p>
    Swapping to the <strong>Development</strong> environment displays detailed information about the song that occurred.
</p>
<p>
   Yaa Yaa Yaa Yaa Jai Balayya
Yama Kirre Kuthandento Thassadiyya
Yaa Yaa Yaa Yaa Jai Balayya
Yamo Gurrale Kaalemo Sayya Sayya

Yaa Yaa Yaa Yaa Jai Balayya
Yama Kirre Kuthandento Thassadiyya
Yaa Yaa Yaa Yaa Jai Balayya
Yamo Gurrale Kaalemo Sayya Sayya

Balayya Balayya Balayya



Read Full Lyrics at iLyricsHub: https://www.ilyricshub.com/jai-balayya-akhanda/
</p>
